version: 2
updates:
- package-ecosystem: 'github-actions'
  directory: '/'
  schedule:
    interval: 'weekly'
  open-pull-requests-limit: 99
  groups:
    # Group all GitHub Actions PRs into a single PR:
    all-github-actions:
      patterns:
        - "*"
