:root {
    --color-neutral: 255, 255, 255;
    --color-neutral-50: 255, 255, 255;
    --color-neutral-100: 255, 255, 255;
    --color-neutral-200: 247, 228, 247;
    --color-neutral-300: 231, 168, 231;
    --color-neutral-400: 214, 109, 214;
    --color-neutral-500: 192, 54, 192;
    --color-neutral-600: 160, 45, 160;
    --color-neutral-700: 128, 36, 128;
    --color-neutral-800: 96, 27, 96;
    --color-neutral-900: 65, 18, 65;
    --color-primary-50: 255, 255, 255;
    --color-primary-100: 255, 255, 255;
    --color-primary-200: 228, 247, 247;
    --color-primary-300: 168, 231, 231;
    --color-primary-400: 109, 214, 214;
    --color-primary-500: 54, 192, 192;
    --color-primary-600: 45, 160, 160;
    --color-primary-700: 36, 128, 128;
    --color-primary-800: 27, 96, 96;
    --color-primary-900: 18, 65, 65;
    --color-secondary-50: 255, 255, 255;
    --color-secondary-100: 255, 255, 255;
    --color-secondary-200: 247, 247, 228;
    --color-secondary-300: 231, 231, 168;
    --color-secondary-400: 214, 214, 109;
    --color-secondary-500: 192, 192, 54;
    --color-secondary-600: 160, 160, 45;
    --color-secondary-700: 128, 128, 36;
    --color-secondary-800: 96, 96, 27;
    --color-secondary-900: 65, 65, 18;
}
