:root {
    --color-neutral: 255, 255, 255;
    --color-neutral-50: 255, 255, 255;
    --color-neutral-100: 255, 255, 255;
    --color-neutral-200: 211, 242, 239;
    --color-neutral-300: 152, 224, 218;
    --color-neutral-400: 93, 207, 197;
    --color-neutral-500: 51, 172, 162;
    --color-neutral-600: 42, 141, 132;
    --color-neutral-700: 32, 109, 103;
    --color-neutral-800: 23, 78, 73;
    --color-neutral-900: 14, 46, 43;
    --color-primary-50: 255, 255, 255;
    --color-primary-100: 255, 255, 255;
    --color-primary-200: 239, 211, 242;
    --color-primary-300: 218, 152, 224;
    --color-primary-400: 197, 93, 207;
    --color-primary-500: 162, 51, 172;
    /* --color-primary-600: 132, 42, 141; */
    --color-primary-600: 73, 23, 78;
    /* --color-primary-700: 103, 32, 109; */
    --color-primary-700: 132, 42, 141;
    --color-primary-800: 73, 23, 78;
    --color-primary-900: 43, 14, 46;
    --color-secondary-50: 255, 255, 255;
    --color-secondary-100: 255, 255, 255;
    --color-secondary-200: 242, 239, 211;
    --color-secondary-300: 224, 218, 152;
    --color-secondary-400: 207, 197, 93;
    --color-secondary-500: 172, 162, 51;
    --color-secondary-600: 141, 132, 42;
    --color-secondary-700: 109, 103, 32;
    --color-secondary-800: 78, 73, 23;
    --color-secondary-900: 46, 43, 14;
}
